:root {
  --baseColor: #606468;
   --anchorColor: #eee;
   --htmlFontSize: 100%;
  --bodyBackgroundColor: #2c3338;
  --bodyColor: var(--baseColor);
  --bodyFontFamily: "Open Sans";
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: 0.875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;
  --formGap: 0.875rem;
  --loginBorderRadus: 0.25rem;
  --loginColor: #eee;
  --loginInputBackgroundColor: #3b4148;
  --loginInputHoverBackgroundColor: #434a52;
  --loginLabelBackgroundColor: #363b41;
  --loginSubmitBackgroundColor: #ea4c88;
  --loginSubmitColor: #eee;
  --loginSubmitHoverBackgroundColor: #d44179;
}

* {
  box-sizing: border-box;
  font-size: var(--htmlFontSize);
  margin: 0;
}

/* html { */
  /* box-sizing: border-box; */
  /* font-size: var(--htmlFontSize); */
/* } */

body {
  background-color: #342d34;
  color: white;
  font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
  /* font-size: var(--bodyFontSize); */
  font-weight: var(--bodyFontWeight);
  line-height: var(--bodyLineHeight);
  /* margin: 0; */
  min-block-size: 100vh;
  display: grid;
  place-items: center;
}

.grid {
  inline-size: 90%;
  margin-inline: auto;
  max-inline-size: 20rem;
  display: grid;
}


.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.icon {
  block-size: 1em;
  display: inline-block;
  fill: var(--iconFill);
  inline-size: 1em;
  vertical-align: middle;
}

a {
  color: var(--anchorColor);
  outline: 0;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}


input {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color 0.3s;
}

.icon-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;

}

.icon-container > div {
  text-align: center;
}

textarea {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color 0.3s;
}

select,option {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color 0.3s;
}

input[type="submit"] {
  cursor: pointer;
}


textarea,
select,
option,
input[type="submit"] {
  inline-size: 100%;
}


textarea,
select,
option,
textarea,
input[type="submit"] {
border-radius: var(--loginBorderRadus);
padding: 1rem;
}




textarea,option,select {
  background-color: var(--loginInputBackgroundColor);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}


textarea:focus,
textarea:hover {
  background-color: var(--loginInputHoverBackgroundColor);
}

input[type="submit"] {
background-color: #d75821;
color: var(--loginSubmitColor);
font-weight: 700;
text-transform: uppercase;
}

input[type="submit"]:focus,
input[type="submit"]:hover {
  background-color: #d75821;
}


p {
  margin-block: 1.5rem;
  text-align: center;
}


img
{
max-width: 100%;
max-height: 100%;
}